$background-color: #3cb054;
$text-color: white;

html {
  scroll-behavior: smooth;
}

body {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Smooch");
  font-family: "Roboto", sans-serif !important;
  color: $text-color !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.vertical-timeline::before {
  background: $background-color !important;
}

a,
a:hover,
a:focus,
a:active {
  outline: none;
  color: $text-color !important;
  text-decoration: none !important;
}

.m0 {
  margin: 0 !important;
}

h1 {
  text-align: center;
  font-weight: 900 !important;
  font-size: 2rem !important;
  @media (min-width: 992px) {
    font-size: 2.5rem !important;
  }
}

.ppc {
  &-paragraph {
    font-size: 1rem;
    text-align: center;
    @media (min-width: 412px) {
      font-size: 1.1rem;
    }
    @media (min-width: 576px) {
      font-size: 1.2rem;
    }
  }
  &-background {
    background-color: $background-color;
    background-image: url("../stars_as\ group.png");
    background-position: top;
    background-size: auto;
    &__timeLine {
      background-color: $background-color;
    }
  }
  &-hero {
    height: 100vh;
    min-height: 900px;
  }
  &-arrow {
    &_down {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }

  &-santa {
    animation: shake 0.8s;
    &:hover {
      animation: shake 0.8s infinite;
    }
  }

  &-wishes {
    font-family: "Smooch", sans-serif !important;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    @media (min-width: 576px) {
      font-size: 3.5rem;
      letter-spacing: 0.1rem;
    }
    @media (min-width: 992px) {
      letter-spacing: 0.4rem;
    }
  }

  &-timeline {
    &_title {
      margin-left: 0.5rem;
    }
    &_text {
      font-size: 1.5rem;
      font-style: italic;
    }
    &_source {
      font-size: 0.8rem;
    }
    &_background {
      background-color: #dff0d8;
    }
  }

  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }
}
